.top {
    min-height: calc(100vh - 50px);
    background: url(../img/back.jpg) center no-repeat;
    background-size: cover;
    &__title {
        font-size: 64px;
        background: linear-gradient(180deg, red 0%, yellow 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &__subtitle {
        font-size: 16px;
    }
}