<div class="header">
    <div class="container">
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="#" class="nav__link nav__link--active">home</a></li>
                <li class="nav__item"><a href="#" class="nav__link">about</a></li>
                <li class="nav__item"><a href="#" class="nav__link">contacts</a></li>
            </ul>
            <a href="#" class="logo">logo</a>
            <a href="#" class="contacts">7 777 77 77</a>                              
        </nav>
    </div>
</div>