// variables
:root {
    // base
    --font-family: "Open Sans", sans-serif;
    --font-size: 16px;
    --container-offset: 15px;
    --content-width: 1170px;
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

    // colors
    --light-color: #fff;
}

.page {
    height: 100%;
    font-family: var(--font-family);
    -webkit-text-size-adjust: 100%;
}

.page__body {
    margin: 0;
    min-width: 320px;
    min-height: 100%;
    font-size: var(--font-size);
    font-weight: 400;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

.main {
    flex-grow: 1;
}

.container {
    margin: 0 auto;
    padding: 0 var(--container-offset);
    max-width: var(--container-width);
}

/* header */
.header {
    position: absolute;
    z-index: 10;
    &__inner {
        height: 50px;
        display: flex;
        justify-content: space-between;        
        align-items: center;
    }
}
.menu {
    &__list {
        display: flex;
        gap: 30px;
    }
    &__item {

    }
    &__link {
        color: #fff;
        text-shadow: 1px 1px 2px #000;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
    }
}

/* footer */
.footer {
    &__inner {
        background-color: #ccc;
    }
    &__copyright {
        font-size: 14px;
        text-align: center;
    }
}

/* page elements */
.section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}