// fonts
@include font('roboto-regular', normal, 400, '../fonts/Roboto-Regular.woff2');
@include font('roboto-bold', normal, 700, '../fonts/Roboto-Bold.woff2');

// variables
:root {
    // base
    --font-family: "roboto-regular", sans-serif;
    --font-size: 16px;
    --font-weight: 400;
    --line-height: 1.2;
    --container-offset: 15px;
    --content-width: 1170px;
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

    // colors
    --light-color: #fff;
}

$media: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

.page {
    height: 100%;
    font-family: var(--font-family);
    -webkit-text-size-adjust: 100%;
}

.page__body {
    margin: 0;
    min-width: 320px;
    min-height: 100%;
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
    display: flex;
    flex-direction: column;
}

img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
}
.btn {
    display: inline-block;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    font-family: var(--font-family);
    font-size: 18px;
}

.main {
    flex-grow: 1;
}

.container {
    margin: 0 auto;
    padding: 0 var(--container-offset);
    max-width: var(--container-width);
}

/* header */
.header {
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, .5);
    &__inner {
        height: 50px;
        display: flex;
        justify-content: space-between;        
        align-items: center;
    }
    &__contacts {
        color: white;
    }
}
.menu {
    &__list {
        display: flex;
        gap: 30px;
    }
    &__item {}
    &__link {
        color: white;
        text-transform: uppercase;
        &:hover {
            color: yellow;
        }
        &--active {
            color: yellow;
        }
    }
}

/* footer */
.footer {
    &__inner {
        background-color: #ccc;
    }
    &__copyright {
        font-size: 14px;
        text-align: center;
    }
}

/* page elements */
.section-title {
    font-family: 'roboto-bold';
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}