.top {
    min-height: 100vh;
    background: url(../img/back.jpg) center no-repeat;
    background-size: cover;
    padding-top: 50px;
    display: flex;
    align-items: center;    
    &__title {
        font-family: 'roboto-bold';
        font-size: 32px;
        text-transform: uppercase;
        color: #fff;
        @include min-width(sm) {
            font-size: 64px;
        }
    }
    &__subtitle {
        color: white;
        max-width: 60%;
        font-size: 16px;
        @include max-width(sm) {
            max-width: 100%;
        }
    }
    &__btn {
        padding: 10px 30px;
    }
}

.features {
    &__title {
        color: red;
    }    
    &__content {
        margin-bottom: 24px;
    }    
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
    &__item {
        background-color: red;
    }
}